<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brewery Spotlight</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
  </head>
  <body>
    <h1>Brewery Spotlight</h1>
    <div id="brewery_info">
      <div>Name: {{brewery_data.name}}</div>
      <div>Address: {{brewery_data.street}}, {{brewery_data.city}}, {{brewery_data.state_province}} {{brewery_data.postal_code}} {{brewery_data.country}}</div>
      <div>Phone: {{brewery_data.phone}}</div>
      <div>Website: <a href="{{brewery_data.website_url}}">{{brewery_data.website_url}}</a></div>
    </div>
  </body>
</html>
