html,
body {
  height: 100vh;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(white 0%, gold 50%);
  overflow: hidden;
}

.pageTitle {
  max-width: fit-content;
  margin: auto;
}

.card {
  max-width: fit-content;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
  height: 400px;
  width: 400px;
}

.bubble {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  animation: bubbleUp 6s linear infinite;
}
.bub1 {
  left: 10%;
}
.bub2 {
  left: 30%;
  animation-duration: 6100ms;
}
.bub3 {
  left: 50%;
  animation-duration: 5900ms;
}
.bub4 {
  left: 70%;
  animation-duration: 6150ms;
}
.bub5 {
  left: 90%;
  animation-duration: 5950ms;
}
.bub6 {
  left: 0%;
  animation-delay: 3s;
  animation-duration: 6200ms;
}
.bub7 {
  left: 20%;
  animation-delay: 3s;
  animation-duration: 5850ms;
}
.bub8 {
  left: 40%;
  animation-delay: 3s;
  animation-duration: 6050ms;
}
.bub9 {
  left: 60%;
  animation-delay: 3s;
  animation-duration: 6150ms;
}
.bub10 {
  left: 80%;
  animation-delay: 3s;
  animation-duration: 5800ms;
}
.bub11 {
  left: 100%;
  animation-delay: 3s;
}

@keyframes bubbleUp {
  from {
    transform: translateX(-15px) translateY(100vh) scale(0.5);
    opacity: 0.8;
  }

  to {
    transform: translateX(-15px) translateY(0) scale(1.2);
    opacity: 0.5;
  }
}
